.tbs-mb {
  display: none; }
  .tbs-mb.Tab {
    border-bottom: 1px solid black;
    margin-left: -1.5rem;
    padding: 10px 5px;
    margin-right: -1.5rem;
    position: relative; }
    .tbs-mb.Tab .material-icons {
      position: absolute;
      right: 10px; }
    .tbs-mb.Tab.__active {
      border-bottom: none; }
  @media only screen and (max-width: 768px) {
    .tbs-mb {
      display: block; } }

.tbs-main .Tab {
  text-transform: uppercase;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s; }
  .tbs-main .Tab:nth-child(1), .tbs-main .Tab:nth-child(2) {
    border-right: none; }
  .tbs-main .Tab.__active {
    background-color: black;
    color: white; }

@media only screen and (max-width: 768px) {
  .tbs-main {
    display: none; } }

.Block-tb h6 {
  font-size: 2.5rem; }

.Block-tb p {
  font-size: 1.2rem; }
