.tbs-mb {
  display: none; }
  .tbs-mb h5 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .tbs-mb.Tab {
    border-bottom: 1px solid black;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px 0 15px 10px;
    text-transform: uppercase;
    position: relative; }
    .tbs-mb.Tab .material-icons {
      position: absolute;
      font-size: 20px;
      right: 10px; }
    .tbs-mb.Tab.__active {
      border-bottom: none; }
  @media only screen and (max-width: 768px) {
    .tbs-mb {
      display: block; } }

.tbs-main .Tab {
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s; }
  .tbs-main .Tab:nth-child(1), .tbs-main .Tab:nth-child(2) {
    border-right: none; }
  .tbs-main .Tab.__active {
    background-color: black;
    color: white; }

@media only screen and (max-width: 768px) {
  .tbs-main {
    display: none; } }

.Block-tb h6 {
  font-size: 50px; }

.Block-tb p {
  margin-top: 5px;
  font-size: 1.2rem; }

.Tab-container {
  max-height: 500px;
  opacity: 1;
  padding: 15px 20px;
  transition: 0.3s; }
  @media only screen and (max-width: 768px) {
    .Tab-container.Global.__hidden {
      overflow: hidden;
      padding: 0 1em;
      display: block;
      max-height: 0;
      opacity: 0; } }
